{% extends 'core/base.html' %}

{% block title %}Shop{% endblock %}

{% block content %}

<div class="max-w-6xl mx-auto flex flex-wrap items-start py-6 px-6 xl:px-0">
    <div class="filters w-full lg:w-1/4">
        <h3 class="mb-3 text-xl uppercase">Search</h3>

        <form method="get" action=".">
            <div class="flex">
                <input type="text" name="query" class="p-4 bg-gray-100 border-0" placeholder="Search...">
                
                <button class="p-4 bg-gray-100 border-0">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="m15.75 15.75-2.489-2.489m0 0a3.375 3.375 0 1 0-4.773-4.773 3.375 3.375 0 0 0 4.774 4.774ZM21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                    </svg>                      
                </button>
            </div>
        </form>

        <h3 class="mt-6 mb-3 text-xl uppercase">Categories</h3>

        <ul class="space-y-2">
            <li><a href="{% url 'shop' %}" 
                class="{% if not category.slug == active_category %}text-purple-500
                {% else %}text-gray-500
                {% endif %}">All categories</a></li>

            {% for category in categories %}
            <li><a href="{% url 'shop' %}?category={{ category.slug }}" 
                class="{% if category.slug == active_category %}text-purple-500
                {% else %}text-gray-500
                {% endif %}">{{ category.name }}</a></li>
            {% endfor %}
        </ul>
    </div>
    <div class="products w-full lg:w-3/4 -mt-4 flex items-center flex-wrap">
        {% for product in products %}
            {% include 'product/partials/product_list_item.html' %}
        {% endfor %}
        
    </div>
</div>
{% endblock %}